@charset "UTF-8";
@font-face {
    font-family:'idroid';
    src: url(fontes/idroid.otf);
}

@font-face {
    font-family:'inter-italic';
    src: url(fontes/inter-italic.ttf);
}

@font-face {
    font-family:'BebasNeue';
    src: url(fontes/BebasNeue-Regular.ttf);
}
:root {
    --cor0: #c5ebd6;
    --cor1: #83E1AD;
    --cor2: #3DDC84;
    --cor3: #2FA866;
    --cor4: #1A5C37;
    --cor5: #063d1e;
    --fonte0: 'Arial, Helvetica, sans-serif';
    --fonte1: 'idroid', sans-serif;
    --fonte2: 'inter-italic', sans-serif;
    --fonte3: 'BebasNeue', sans-serif;
}

main { 
    font-size: large;    
    min-width: 400px; max-width: 800px;    
    text-align: justify;
    margin: 0 auto;
}
  
p { 
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif}
header { 
    background: linear-gradient( #3DDC84, #2FA866,#1A5C37);
    color: white;
    text-align: center;
    margin-top: -8px;
    padding: 10px;
    border-radius: 10px;
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.466);    
    }
    
    header > h1 {
        font-size: 52px;
    }

    header > p {
        font-size: 23px;
        font-family: var(--fonte2);
        margin-top: -16px;
    }   

    header > a {
        font-size: 21px;
    }  

a {
    color: var(--cor5);
    text-decoration: none;
    font-weight: 600;    
}

header > a:hover {
    background-color: #2FA866;
    padding: 2px 5px 2px 5px;
    border-radius: 5px;
}

header > a { 
    text-decoration: none;
    color: white;
    font-weight:bold;
    margin-right: 8px;   
}

div.video {
    position: relative;
    background-color: var(--cor4);
    height: 0px;
    margin-left:-20px;
    margin-right: -20px;
    margin-top: 20px;
    margin-bottom: 15px;
    padding-bottom: 59%;  
    border-radius: 10px;  

}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

#android_candies {
    background-color:var(--cor0);
    padding-bottom: 10px;
    padding-left: 10px;
    border-radius: 10px;
    padding-right: 20px;
    margin-left: -19px;
    margin-right: -19px;
}
#android_candies > ol > li {
    font-family: var(--fonte2);
}

div.bugdroid_flex {
    display: flex;
    justify-content: center;
    align-items: center;      
}

ol {    
    columns: 2;
    list-style-position: inside;
}    
    
 h1 {
    font-family: var(--fonte3);
 }

h2,h3 { font-family: var(--fonte1);
    color: var(--cor5);
}

h3 {
    background-color: var(--cor0);
}

h4 {
    font-family: var(--fonte2);
    font-size: 22px;
    background-color: #3DDC84;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: -10px;
    padding-left: 10px;
    border-radius: 4px;
    margin-right: -20px;
}

footer { 
    font-family: var(--fonte2);
    text-align: center;
    background-color: var(--cor0) ;
    margin: 15px -19px 15px -19px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 10px;
}

